<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Kitap Kurdu", "Index", "Menu", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Kullanıcılar", "Index", "Customers")</li>
                <li>@Html.ActionLink("Kitaplar", "Index", "Books")</li>
                <li>@Html.ActionLink("Yeni Kiralama", "New", "Rentals")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
